<html>
    {{ template "header.html" }}

    <body>
        {{ template "nav.html" }}
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Are you New?!</h1>
              <p>Go ahead and regester at the link. </p>
              <p><a class="btn btn-primary btn-lg" href="https://sagg.in/page/view/regestar" role="button">Regestar</a></p>
            </div>
          </div>
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Shops</h2>
                    <p>List of all Players' Listings</p>
                    <p><a class="btn btn-secondary" href="https://sagg.in/mc/view/shops" role="button">All Shops »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>All players</h2>
                    <p>List of all Players</p>
                    <p><a class="btn btn-secondary" href="https://sagg.in/mc/view/players" role="button">All Players »</a></p>
                </div>
        </div>
          </div>
          <!--https://mobirise.com/bootstrap-template/article-template.html-->

        {{ template "footer.html" }}
    </body>
    
</html>