<!--
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Face</th>
                <th scope="col">Act name</th>
                <th scope="col">Userame</th>
            </tr>
        </thead>
        <tbody>
        {{ with .payload }}
            {{ range $.payload }}
                <tr>
                    <td scope="row"><a ><img class="w-25 p-3" src=" https://crafatar.com/avatars/{{ .Mcuuid }}" alt=""></a></td>
                    <td > <a class="w-25 p-3">{{ .Name }}</a></td>
                    <td>{{ .Mcuser }}</td>
                </tr>
            {{ end }}
        {{ end }}
            </tbody>
    </table>
</div>
-->

<ul class="list-group list-group-flush ">
    {{ with .payload }}
        {{ range $.payload }}
            <li class="list-group-item">
                <div class="media">
                    <img src="https://crafatar.com/avatars/{{ .Mcuuid }}" class="img-thumbnail mr-3" style="width:5%;">
                    <div class="media-body">
                        <h5 class="mt-0">{{ .Name }}</h5>
                        {{ .Mcuser }}
                    </div>
                </div>
            </li>
            
        {{ end }}
    {{ end }}
</ul>
    
