<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="https://sagg.in">Sagg.in</a>
    <ul class = "navbar-nav">
        {{ range .payload }}
        <li class="nav-item">
            <a class="nav-link" href="https://sagg.in/index.html">Stuff about Me!</a>
        </li>

        <li class="nav-item">
            <a class= "nav-link" href="https://sagg.in/projects.html">My Projects!</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Games!</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="https://sagg.in/games/dnd.html"> Dungeons and Dragons!</a>
                <a class="dropdown-item" href="https://sagg.in/games/mc.html">My Minecraft Shanngins</a>
            </div>
        </li>
        
    </ul>
</nav>